<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <% if (passOK==0) {%>
                Create the Record Successfully
                <% }else if (passOK==1) {%>
                Update the Record Successfully
                <%}else if (passOK==2) {%>
                Delete the Record Successfully
                <% }%>
            </h1>
        </div>
    </div>
</section>